@import "../../app.scss";

.services {
  height: 100%;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
      flex: none;
    }

    p {
      text-align: end;
      font-weight: 200;
      font-size: 20px;
      color: gray;
    }

    hr {
      width: 250px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 100px;
      }
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include mobile {
      display: none;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 300px;
        height: 100px;
        border-radius: 40px;
        object-fit: cover;
      }

      h1 {
        font-size: 90px;
        font-weight: 100;
      }

      button {
        width: 300px;
        height: 100px;
        border-radius: 40px;
        background-color: orange;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
        border: none;
      }
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: 2% 10% 2% 10%;

    @include mobile {
      flex-direction: column;
      width: 100%;
      margin: 10px 0 10px 0;
    }

    .box {
      flex: 1;
      padding: 40px;
      border: 0.5px solid gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mobile {
        border: none;
        align-items: center;
        margin: 10px;
        padding: 5px;
      }

      h2 {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include mobile {
          height: 40px;
        }
      }

      p {
        font-size: 14px;
      }

      button {
        padding: 10px;
        background: orange;
        border: none;
        font-size: 18px;
        font-weight: 200;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid orange;
          border-radius: 5px;
          color: orange;
          width: 50%;
          padding: 5px;
        }
      }
    }
  }
}
