.navbar {
  height: 80px;

  .wrapper {
    max-width: 1366px;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    span {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 20px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
